@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
}

body{
  background-color: #22254b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
